<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <title> Car compare </title>
  </head>
  <body>                
    <div class="header-h1">
        <h1> Выбор подержанного авто </h1>
    </div>  
    <div class="container-fluid">
        <div class="row"> 
            <div class="col-sm-9"> 
                <table class="table table-bordered table-hover">
                    <thead class = "thead-dark">
                        <tr>
                        <th scope="col"> Характеристики </th>
                        <th scope="col"> Свой автомобиль </th>
                        <th scope="col"> Вариант 1</th>
                        <th scope="col"> Вариант 2 </th>
                        <th scope="col"> Вариант 3 </th>
                        <th scope="col"> Вариант 4 </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row"> Марка </th>
                        <td> Ford </td>
                        <td> Nissan </td>
                        <td> Dodge </td>
                        <td> Lada </td>
                        <td> Kia </td>
                        </tr>
                        <tr>
                        <th scope="row"> Модель </th>
                        <td> Focus </td>
                        <td> Tiida </td>
                        <td> Challenger </td>
                        <td> 2106 </td>
                        <td> Optima </td>
                        </tr>
                        <tr>
                        <th scope="row"> Поколение </th>
                        <td> II </td>
                        <td> I </td>
                        <td> III </td>
                        <td> I </td>
                        <td> III </td>
                        </tr> 
                        <tr>
                        <th scope="row"> Комплектакция </th>
                        <td> 1.6 AT Comfort  </td>
                        <td> 1.6 AT Elegance </td>
                        <td> 3.6 AT </td>
                        <td> 1.3 л, 64 л.с. </td>
                        <td> 2.4 AT Luxe </td>
                        </tr>                        
                        <tr>
                        <th scope="row"> Средний расход топлива на 100 км (л) </th>
                        <td> 7,7 </td>
                        <td> 7,4  </td>
                        <td> 12,0 </td>
                        <td> 9.5 </td>
                        <td> 8,1 </td>
                        </tr>
                        <th scope="row"> Средняя стоимость авто (руб) </th>
                        <td> 400.000 </td>
                        <td> 330.000 </td>
                        <td> 1.400.000 </td>
                        <td> 40.000 </td>
                        <td> 890.000 </td>
                        </tr>
                        <tr>
                        <th scope="row"> Стоимость топлива на 30000км (руб) </th>
                        <td> 115.500 </td>
                        <td> 111.000 </td>
                        <td> 180.000 </td>
                        <td> 142.500 </td>
                        <td> 121.500 </td>
                        </tr>
                        <th scope="row"> Стоимость налога в Мск (руб) </th>
                        <td> 2.000 </td>
                        <td> 2.000 </td>
                        <td> 18.750 </td>
                        <td> 1.400 </td>
                        <td> 9.000 </td>
                        </tr>
                        <th scope="row"> Стоимость ОСАГО (руб) </th>
                        <td> 3500 </td>
                        <td> 3500 </td>
                        <td> 38000 </td>
                        <td> 1800 </td>
                        <td> 24000 </td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-3-news">
                    <div class="news-h3">
                        <h3> новости ГИБДД </h3>
                    </div>
                    <div class="news-h6">
                        {% for news in news_list %}
                        <h6><a href = "{{ news.url }}"> {{ news.title }} </a></h6>
                        <!-- <p> {{ news.published_date }}</p> -->
                        {% endfor%}
                    </div>   
                </div>
            </div>
        </div>
        <div class="row">
            <div class=col-12>
                <footer>                       
                    <div class="footer-1">
                        <h1> © 2019 Copyright: 
                            <a href="https://www.instagram.com/jssemeone/"> 7on-off </a> &
                            <a href="https://www.instagram.com/tattis_beads/"> Tatti </a>
                        </h1>
                    </div> 
                </footer>
            </div> 
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
   
</div>
</body>
</html>